<!-- Alerta no topo -->
<section class="bg-primary text-white text-center py-2 small">
    <img src="assets/cadeado-superior.png" alt="Verificado" height="18" class="mb-1">
    <i class="bi bi-lock-fill me-2"></i>
    Execute seus serviços com confiança e <strong>eficiência!</strong>
  </section>
  
  <!-- Header principal -->
  <header class="container d-flex align-items-center justify-content-between py-3">
    <div class="d-flex align-items-center gap-3">
      <img src="assets/logo-aninha.png" alt="Logo" height="72">
  
      <div>
        <div class="small text-dark mt-1">
          <span class="fw-bold">Tel:</span> (11) 95301-8093 <span class="text-muted">whats</span><br>
          <span class="fw-bold">Email:</span> contato&#64;aninhadespachante.com.br
        </div>
      </div>
    </div>
  </header>
  